<div id="portfolio">
<div class="constraint work">
<section class="work">
	<h1 class="work">Work</h1>
<a target="_blank" href="http://saultsportsmedicine.com" class="three columns"><span>Sault Sports Medicine</span><img src="https://cdn3.f-cdn.com//files/download/18291495/8a7581.jpg" alt="Sault Sports Medicine"></a>

<a target="_blank" href="http://www.bringbacknumber8.com/" class="three columns"><span>Bring Back Number 8</span><img src="https://cdn3.f-cdn.com//files/download/18292073/a27570.jpg" alt="Bring Back Number 8"></a>

<!--<a target="_blank" href="http://pgaofcanada.com" class="three columns"><span>PGA of Canada</span><img src="https://cdn3.f-cdn.com//files/download/18282622/282ce8.jpg" alt="PGA of Canada"></a>

<a target="_blank" href="http://christmasinnovember.com" class="three columns"><span>Christmas in November</span><img src="https://cdn3.f-cdn.com//files/download/18282437/32dfb1.jpg" alt="Christmas in November"></a>

<a target="_blank" href="http://tongaroom.com" class="three columns"><span>Tonga Room & Hurricane Bar</span><img src="https://cdn3.f-cdn.com//files/download/18281783/af7649.jpg" alt="Tonga Room & Hurricane Bar"></a>

<a target="_blank" href="http://juniperdc.com" class="three columns"><span>Juniper</span><img src="https://cdn3.f-cdn.com//files/download/18282389/e7dc8c.jpg" alt="Juniper"></a>

<a target="_blank" href="http://mountain-resorts.fairmont.com" class="three columns"><span>Fairmont Mountain Resorts</span><img src="https://cdn3.f-cdn.com//files/download/18282410/b91eac.jpg" alt="Fairmont Mountain Resorts"></a>

<a target="_blank" href="http://fairmontcareers.com" class="three columns"><span>Fairmont Careers</span><img src="https://cdn3.f-cdn.com//files/download/18281563/a45786.jpg" alt="Fairmont Careers"></a>-->

</section>
</div>
</div>