
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: outside none none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
	font-family: 'Raleway', sans-serif;
}
q::before, q::after {
    content: "";
}
abbr, acronym {
    border: 0 none;
}
section, article, header, footer, nav, aside, hgroup {
    display: block;
}
html, body {
    background: #d1f3fa none repeat scroll 0 0;
    width: 100%;
}
body {
}

.div-full {
	margin: 0;
	width: 100%;
	padding: 2% 0;
}

.constraint {
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    padding: 0 4em;
}
.constraint.narrow {
    margin: 0 auto;
    max-width: 800px;
}
.constraint.work {
	margin: 0 auto;
	max-width: 850px;
}
header {
    overflow: hidden;
}
header .logo {
    clear: both;
    display: block;
    margin: 0 auto 4em;
    max-width: 300px;
    position: relative;
    width: 100%;
}
header.subpage .logo {
    float: left;
    height: auto;
    margin: 3em 0;
    width: 50px;
}
header.subpage .logo svg {
    height: auto;
    width: 50px;
}
header .logo img {
    margin: 0;
}
header nav {
    float: right;
    height: 60px;
    margin-top: 5em;
}
header nav a {
    color: #333;
    display: inline-block;
    font-size: 1.4em;
    font-weight: 400;
    margin: 0 0 0 25px;
	padding-left:1em;
	padding-right: 1em;
}
header a {
    text-decoration: none;
}
#header {
    margin-bottom: 14em;
    text-align: center;
}
#header nav a:hover {
    border-bottom: 5px solid #e88c30;
	border-top: 5px solid #e88c30;
    text-decoration: none;
}
#header h1 {
    clear: both;
    line-height: 1.4em;
}
#header h1 span {
    display: block;
}
#header h1 .name {
}
#header h1 .location {
    color: #999;
    font-size: 0.4em;
}
#header h1 .tagline {
}
#footer {
    text-align: center;
}
#footer a, #footer p.copyright {
    font-size: 1.2em;
    margin: 0;
    padding: 1em 0 5em;
}

#header h1 .name,h2,  nav .name, #header h1 .location, .button, #footer p.copyright, header.sticky .logo-text, .work-single h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
nav .name {
    font-weight: 300;
    line-height: 1.6em;
    margin: 0 0 0.5em;
    font-size: 4em;
}

h1.work {
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	-moz-transform: rotate(-90deg); 
	-o-transform: rotate(-90deg); 
    transform: rotate(-90deg); 
	float:left;
	margin-top:1.25em;
	text-transform: uppercase;
	font-size:5em;
}
a.contact {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    -moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
.work {
    margin: 0;
    overflow: hidden;
}
.work a {
    border-radius: 3px;
    display: block;
    position: relative;
	background: #fff;
}
.work a:nth-child(4n) {
    margin-right: 0 !important;
}
.work a.three.columns {
    list-style: outside none none;
    margin: 0 6% 6% 0;
    width: 282px;
	height: 212px;
	display:block;
	overflow:hidden; 
	border-radius: 15px 50px;
}
.work a::before {
    border-radius: 3px;
    /*box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05) inset;*/
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999999;
}
.work a.three.columns.last {
    margin-right: 0;
}
.work a img {
    border-radius: 3px;
    display: block;
    margin: 0;
    opacity: 1;
    transition: all 0.1s ease 0s;
    width: 100%;
}
.work a img:hover {
    opacity: 1;
}
.work a span {
    background: #e88c30;
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    height: 250px;
    letter-spacing: 0.05em;
    line-height: 200px;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
    width: 100%;
    z-index: 99999;
	font-size: 1.25em;
	font-family: 'Raleway', sans-serif;
}
.work a:hover span {
    opacity: 0.95;
}
.cta {
    clear: both;
    margin: 13em 0 15em;
    text-align: center;
}
.cta h2 {
    margin: 0;
}
.cta p {
    color: #999;
	font-family: 'Raleway', sans-serif;
}
.cta .button {
    min-width: 225px;
    font-family: 'Raleway', sans-serif;
}

body, input, textarea, select {
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 62.5%;
}
h1, h2, h3, h4, p, li, input, textarea, select, label {
    color: #333;
}
a {
    color: #333;
}
a:hover {
    color: #666;
}
p, li, input, textarea, select, img, dt, dd {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.8em;
    margin-bottom: 2em;
}
h1, h2, h3, h4 {
    font-weight: 300;
    line-height: 1.6em;
    margin: 0 0 0.5em;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 4em;
}
h3 {
    font-size: 2.8em;
}
h4 {
    font-size: 2em;
}
strong, b {
    font-weight: 500;
}
em {
    font-style: italic;
    font-weight: 500;
}
i {
    font-style: italic;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
blockquote {
    background: #f7f7f7 none repeat scroll 0 0;
    border-left: 0.5em solid #eee;
    color: #999;
    display: inline-block !important;
    font-style: italic;
    margin: 2em 0 3.5em 1em;
    padding: 2em 3em;
}
blockquote cite {
    font-size: 1em;
}
blockquote p:last-child {
    margin-bottom: 0;
}
*::-moz-selection {
    background: #333 none repeat scroll 0 0;
    color: #fff;
}
ol li, ul li {
    list-style-position: outside;
    margin: 0 0 0.5em 4em;
}
ul li {
    list-style-type: disc;
}
ol li {
    list-style-type: decimal;
}
ol li p, ul li p {
    font-size: 1em;
}
p img {
    margin-bottom: 0;
}
img {
    max-width: 100%;
}
ul li input, ul li textarea, ul li ul li input, ul li ul li textarea {
    font-size: 1em !important;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0.1);
    border-image: none;
    border-radius: 99px;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin: 0 auto 6em;
    width: 150px;
}

.button, button {
    background: #e88c30 none repeat scroll 0 0;
    border: 3px solid #e88c30;

    box-sizing: border-box;
    color: #fff;
    display: inline-block !important;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.04em;
    margin: 0;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    transition: all 0.1s ease 0s;
    width: auto;
}
.button:hover, button:hover {
    background: #545454 none repeat scroll 0 0;
    border: 3px solid #545454;
    color: #fff;
    cursor: pointer;
}
.button.outline, button.outline {
    background: #fff none repeat scroll 0 0;
    color: #19a0cb;
}
.button.outline:hover, button.outline:hover {
    background: #19a0cb none repeat scroll 0 0;
    border: 3px solid #19a0cb;
    color: #fff;
}
.button.outline.invisible, button.outline.invisible {
    border: medium none;
}
.button.outline.invisible:hover, button.outline.invisible:hover {
    background: #f5f5f5 none repeat scroll 0 0;
    border: medium none;
    color: #19a0cb;
}

/* work portfolio */
div#portfolio {
	width:100%; 
	background-color: #9ce5f4; 
	padding-top: 6em; 
	padding-bottom: 3em;
}

.columns {
    box-sizing: border-box;
    float: left;
    margin: 0 4.5% 0 0;
}
.columns:last-child, .columns.last {
    margin-right: 0;
}
.one.columns {
    width: 4.20833%;
}
.two.columns {
    width: 12.9167%;
}
.three.columns {
    width: 21.625%;
}
.four.columns {
    width: 30.3333%;
}
.five.columns {
    width: 39.0417%;
}
.six.columns {
    width: 47.75%;
}
.seven.columns {
    width: 56.4583%;
}
.eight.columns {
    width: 65.1667%;
}
.nine.columns {
    width: 73.875%;
}
.ten.columns {
    width: 82.5833%;
}
.eleven.columns {
    width: 91.2917%;
}
.twelve.columns {
    margin-left: 0;
    width: 100%;
}
@media all and (max-width: 768px) {
	.columns {
	    float: none;
	    margin-right: 0;
	    width: auto !important;
	}
}
